/* 
    HOVER 
*/

main .col-center nav ul li a:hover,
main .col-left ul li a:hover,
main .col-left .playlist-box a:hover,
main .col-left .playlist-list ul li a:hover,
main .col-left .col-left-bottom a:hover{
  color: white;
}

main button{
  cursor: pointer;
}

main .col-left .playlist-box  a:hover #create-new-playlist{
  background-color: white;
}


/* 
    CENTRAL COLUMN OF THE MAIN 
*/


main .col-center .upgrade-box button:hover{
  transform: scale(1.1);
}

main .col-center .song-cover,
main .col-center .artist-cover{
  position: relative;
}

main .col-center .cover-hover-box #play-hover,
main .col-center .artist-hover-box #play-hover{
  font-size: 45px;
  z-index: 10;
}

main .col-center .cover-hover-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

main .col-center .artist-hover-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

main .col-center .song-cover:hover .cover-hover-box,
main .col-center .artist-cover:hover .artist-hover-box{
  display:flex
}

/* 
    /CENTRAL COLUMN OF THE MAIN 
*/

/* 
    FOOTER
*/

footer .col-left .song-buttons i:hover{
  color: white;
}

footer .col-center #play:hover{
  transform: scale(1.2);
}

footer .volume-controller #dot-pointer,
footer .song-player-controller #dot-pointer{
  display: none;
}

footer .volume-controller:hover #dot-pointer,
footer .song-player-controller:hover #dot-pointer{
  display: flex;
}

footer .volume-controller:hover .volume-level,
footer .song-player-controller:hover .song-player-current-time{
  background-color: greenyellow;
}

footer .song-player-controller .song-player-current-time,
footer .volume-controller .volume-level {
  justify-content: flex-end;
  align-items: center;
}

/* 
    /FOOTER
*/

/* 
    /HOVER 
*/
