/* 
    MEDIA
*/

@media screen and (max-width:550px) {

  main .col-left{
    width: 50px;
  }

  main .col-center,
  main .col-center .upgrade-box{
    width: calc(100% - 50px);
  }

  main .col-left-top #logo-small{
    display: block;
  }

  main .col-left-top #logo{
    display: none;
  }

  
  main .col-left-top .nav-bar-small{
    display: block;
  }

  main .col-left-top .nav-bar-normal{
    display: none;
  }

  main .col-left-top .playlist-box{
    display: none;
  }

  main .col-left-bottom .profile-box hr{
    display: none;
  }

  main .col-left-bottom .profile-box .app-install-box #download-normal{
    display: none;
  }

  main .col-left-bottom .profile-box .app-install-box #download-small{
    display: block;
  }

  main .col-left-bottom .profile-box #profile-name{
    display: none;
  }

  
}

/* 
    /MEDIA
*/