/* 
    MEDIA
*/

@media screen and (min-width:850px) and (max-width:1300px) {

  main .col-center .song-box,
  main .col-center .artist-box{
    width: calc(100%/4);
  }
}

@media screen and (min-width:700px) and (max-width:849px) {

  main .col-center .song-box,
  main .col-center .artist-box{
    width: calc(100%/2);
  }
}

@media screen and (max-width:699px) {

  /* LEFT COLUMN */
  main .col-left{
    width: 50px;
  }

  main .col-left-top,
  main .col-left-bottom,
  main .col-left-bottom .profile-box {
    padding-left: 0;
  }
  
  main .col-left .container{
    align-items: center;
  }

  
  /* LOGO BOX */
  main .col-left-top #logo-small{
    display: block;
  }

  main .col-left-top #logo{
    display: none;
  }

  /* /LOGO BOX */


  /* NAV-BAR BOX */
  main .col-left-top .nav-bar-small{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  main .col-left-top nav .fa-solid {
    margin-right: 0;
  }

  main .col-left-top .nav-bar-normal{
    display: none;
  }

  /* /NAV-BAR BOX */


  /* PLAYLIST BOX */
  main .col-left-top .playlist-box{
    display: none;
  }

  /* /PLAYLIST BOX */

  /* PROFILE BOX */

  main .app-install-box{
    padding-bottom: 10px;
    text-align: center;
  }

  main .col-left-bottom .profile-box hr{
    display: none;
  }

  main .col-left-bottom .profile-box .app-install-box #download-normal{
    display: none;
  }

  main .col-left-bottom .profile-box .app-install-box #download-small{
    display: block;
  }

  main .col-left-bottom #profile-image {
    margin-right: 0;
  }

  main .col-left-bottom .profile-box #profile-name{
    display: none;
  }
  /* /PROFILE BOX */
  /* /LEFT COLUMN */



  /* CENTRAL COLUMN WITH DYNAMIC CONTENT */
  main .col-center,
  main .col-center .upgrade-box{
    width: calc(100% - 50px);
  }

  main .col-center .song-box,
  main .col-center .artist-box{
    width: calc(100%/2);
  }
  /* /CENTRAL COLUMN WITH DYNAMIC CONTENT */

  footer .col-left .song-buttons{
    flex-direction: column;
  }

  footer .col-central i{
    font-size: 11px;
  }

  footer .col-center{
    margin: 0 5px;
  }

  footer .col-right .fa-solid{
    font-size: 12px;
    padding: 0 5px;
  }


}

/* 
    /MEDIA
*/