*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

main{
  height: calc(100vh - 100px);
  background-color: #141922;
}

main .col-left{
  
}

main .col-center{
  
}

footer{
  height: 100px;
  background-color: #282828;
  justify-content: space-between;
  align-content: center;
}

footer .col-left,
footer .col-center,
footer .col-right{
  align-items: center;
}

/* 
    UTILITIES 
*/

.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-content: center;
}

.f-end{
  justify-content: flex-end;
}

/* 
    /UTILITIES 
*/

/* 
    MAIN 
*/

/* 
    LEFT COLUMN OF THE MAIN 
*/

main .col-left{
  flex-shrink: 0;
  position: relative;
  width: 250px;
  background-color:#000000;
}

main .col-left .container{
  width: 85%;
  margin: 0 auto;
}

main .col-left .profile-box{
  position: absolute;
  bottom: 15px;
}

main .col-left  nav ul{
  list-style: none;
}

main .col-left  nav li{
  padding: 10px 0;
}

main .col-left nav li a{
  text-decoration: none;
  color: #75797d;
}

main .col-left .logo-box,
main .col-left nav,
main .col-left .playlist-box{
  padding-bottom: 15px;
}

/* 
    /LEFT COLUMN OF THE MAIN 
*/



/* 
    CENTRAL COLUMN OF THE MAIN 
*/

main .col-center {
  flex-shrink: 1;
  background-color:#141922;
   /* 100% minus the width of the left column */
  width: calc(100% - 250px);
}

main .col-center .upgrade-box{
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  height: 70px;
  /* 100% minus the width of the left column */
  width: calc(100% - 250px);
}

main .col-center .upgrade-box button{
  position: absolute;
  right: 20px;
  top:15px;
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid white;
  background-color: #090b13;
  color: white;
  
}

main .col-center nav{
  margin-top: 80px;
  justify-content: center;
  
}

main .col-center nav ul{
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

main .col-center nav li{
  padding: 10px;
}

main .col-center nav li a{
  text-transform: uppercase;
  text-decoration: none;
  color: #75797d;
}

/* 
    /CENTRAL COLUMN OF THE MAIN 
*/

/* 
    /MAIN 
*/