*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

main{
  height: calc(100vh - 100px);
  background-color: #141922;
}

footer{
  height: 100px;
  background-color: #282828;
  justify-content: space-between;
  align-content: center;
}

footer .col-left,
footer .col-center,
footer .col-right{
  align-items: center;
}

/* 
    UTILITIES 
*/

.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-content: center;
}

.f-end{
  justify-content: flex-end;
}

/* 
    /UTILITIES 
*/

/* 
    MAIN 
*/

/* 
    LEFT COLUMN OF THE MAIN 
*/

main .col-left{
  flex-shrink: 0;
  width: 250px;
  background-color:#000000;
  overflow: hidden;
}

main .col-left .container{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

main .col-left-top .logo-box,
main .col-left-top nav,
main .col-left-top .playlist-box{
  padding-bottom: 15px;
}

/* main .col-left-top{
  height: calc(100% - 80px);
}

main .col-left-pottom{
  height: 80px;
} */

/* LOGO BOX STYLES */

main .col-left-top .logo-box{
  padding: 15px 0;
}

main .col-left-top #logo-small{
  display: none;
}

main .col-left-top .logo-box img{
  width: 80%;
}

/* /LOGO BOX STYLES */

/* NAV STYLES */

main .col-left-top .nav-bar-small{
  display: none;
}

main .col-left-top  nav ul{
  list-style: none;
}

main .col-left-top  nav li{
  padding: 10px 0;
}

main .col-left-top nav li a{
  text-decoration: none;
  color: #75797d;
}

main .col-left-top nav .fa-solid{
  font-size: 20px;
  margin-right: 10px;
}

/* /NAV STYLES */

/* PLAYLIST BOX STYLES */

main .col-left-top .playlist-box .playlist-list{
  overflow-y: auto;
}

/* /PLAYLIST BOX STYLES */

/* PROFILE BOX STYLES */
main .col-left-bottom {
  flex-shrink: 0;
}

main .col-left-bottom .profile-box{
  bottom: 15px;
} 

main .app-install-box{
  padding-bottom: 10px;
}

main .app-install-box a{
  text-decoration: none;
  color: grey
}

main .profile-details-box{
  padding: 15px 0;
}

main .profile-details-box img{
  vertical-align: middle;
}

main .col-left-bottom #profile-image{
  background-color: grey;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

/* /PROFILE BOX STYLES */

/* 
    /LEFT COLUMN OF THE MAIN 
*/



/* 
    CENTRAL COLUMN OF THE MAIN 
*/

main .col-center {
  flex-shrink: 1;
  background-color:#141922;
   /* 100% minus the width of the left column */
  width: calc(100% - 250px);
  overflow-y: auto;
}

main .col-center .upgrade-box{
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  height: 70px;
  /* 100% minus the width of the left column */
  width: calc(100% - 250px);
}

main .col-center .upgrade-box button{
  position: absolute;
  right: 20px;
  top:15px;
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid white;
  background-color: #090b13;
  color: white;
  
}

main .col-center nav{
  margin-top: 80px;
  justify-content: center;
  
}

main .col-center nav ul{
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

main .col-center nav li{
  padding: 10px;
}

main .col-center nav li a{
  text-transform: uppercase;
  text-decoration: none;
  color: #75797d;
}

main .col-center nav ul li a:hover{
  color: white;
}

main .col-center nav ul .active{
  border-bottom: 1px solid greenyellow;
}

main .col-center h2{
  padding: 15px 15px 0px 15px;
}
main .col-center span{
  padding: 0px 15px 10px 15px;
  color: gray;
  font-size: 12px;
}


main .col-center .recently-played-box,
main .col-center .personal-playlist-box,
main .col-center .most-popular-artist-box {
  padding: 20px 15px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

main .col-center .song-box,
main .col-center .artist-box{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5px;
  width: 200px;
  height: 100%;
  text-align: center;
}

main .col-center .song-cover,
main .col-center .artist-cover{
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

main .col-center .song-cover img,
main .col-center .artist-cover img{
  width: 100%;
}

main .col-center .artist-cover img{
  border-radius: 50%;
}

main .col-center .song-box span{
  color: grey;
  font-size: 12px;
  padding: 5px 0px;
}

main .col-center .song-box .song-title,
main .col-center .artist-box .artist-name{
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 0px 5px 0;
}



/* 
    /CENTRAL COLUMN OF THE MAIN 
*/


/* 
    /MAIN 
*/



/* 
    FOOTER 
*/

/* FOOTER LEFT COLUMN */
footer .col-left{
  width: 250px;
  justify-content: space-between;
  flex-shrink: 0;
}

footer .song-elements{
  align-content: center;
}

footer .song-cover{
  padding: 20px 10px;
}

footer .song-cover img{
  height: 50px;
}

footer .song-details{
  padding: 25px 5px;
  flex-direction: column;
  justify-content: center;
}

footer .song-details .title{
  color: white;
  font-weight: bold;
  font-size: 10px;
}

footer .song-details .subtitle{
  color: grey;
  font-size: 10px;
}

footer .song-buttons .fa-regular{
  padding: 0 5px;
  color: grey;
}
/* /FOOTER LEFT COLUMN */

/* FOOTER CENTRAL COLUMN */

footer .col-center{
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

footer .player-buttons{
  font-size: 20px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}

footer .player-buttons i{
  padding: 0 15px;
}

footer .player-buttons #play{
  font-size: 30px;
}

footer .song-player-controller{
  width: 400px;
  height: 5px;
  background-color: grey;
  border-radius: 2px;
  margin: auto 10px;
}

footer .song-player-controller .song-player-current-time{
  width: 25%;
  height: 5px;
  background-color: white;
  border-radius: 2px;
  margin: auto 0;
}



/* /FOOTER CENTRAL COLUMN */

/* FOOTER RIGHT COLUMN */

footer .col-right{
  flex-shrink: 0;
}

footer .player-volume-box {
  align-content: center;
}

footer .player-volume-box .fa-solid{
  padding: 0 10px;
  color: white;
}

footer .volume-controller{
  width: 150px;
  height: 5px;
  background-color: grey;
  border-radius: 2px;
  margin: auto 10px;
}

footer .volume-controller .volume-level{
  width: 25%;
  height: 5px;
  background-color: white;
  border-radius: 2px;
  margin: auto 0;
}

/* /FOOTER RIGHT COLUMN */


/* 
    /FOOTER 
*/


/* 
MEDIA
*/

@media screen and (max-width:550px) {

  main .col-left{
    width: 50px;
  }

  main .col-center,
  main .col-center .upgrade-box{
    width: calc(100% - 50px);
  }

  main .col-left-top #logo-small{
    display: block;
  }

  main .col-left-top #logo{
    display: none;
  }

  
  main .col-left-top .nav-bar-small{
    display: block;
  }

  main .col-left-top .nav-bar-normal{
    display: none;
  }

  
}