*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

main{
  height: calc(100vh - 100px);
  background-color: #141922;
}

main .col-left{
  background-color:#000000;
  width: 250px;
}

main .col-center{
  background-color:#141922;
  width: 100%;
}

footer{
  height: 100px;
  background-color: #282828;
  justify-content: space-between;
  align-content: center;
}

footer .col-left,
footer .col-center,
footer .col-right{
  align-items: center;
}

/* 
    UTILITIES 
*/

.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-content: center;
}

.f-end{
  justify-content: flex-end;
}

/* 
    /UTILITIES 
*/

/* 
    MAIN 
*/



/* 
    CENTRAL COLUMN OF THE MAIN 
*/

main .upgrade-box{
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  height: 70px;
  width: 100%;
}

main nav{
  margin-top: 70px;
}

main nav ul{
  list-style: none;
  justify-content: center;
}

main nav li{
  padding: 10px;
}

main nav li a{
  text-transform: uppercase;
  text-decoration: none;
  color: #75797d;
}

/* 
    /CENTRAL COLUMN OF THE MAIN 
*/

/* 
    /MAIN 
*/